<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <form id="mkForm" onsubmit="submitForm(this)" method="GET" style="" >
        <table id="postCRUDTbl">
            <thead>
                <tr>
                    <th >textNumber</th>
                    <td><input type="number" id="no" readonly disabled  ></td>
                </tr>
                <tr>
                    <th>writer</th>
                    <td ><input type="text" id="writer" readonly disabled></td>
                </tr>
            </thead>
            <tbody style="display:grid; text-align: left;">
                <tr> 
                    <th>title</th>
                    <td ><input type="text" id="titleInp" placeholder="input title" style="width: 95%;" ></td>
                </tr>
                <tr>
                    <th>time</th>
                    <td ><input type="datetime-local" id="createTime" value="" style="width: 95%;" ></td>
                </tr>
                <tr style="overflow: overlay; width: 100%; max-height: 600px;">
                    <td>
                        <textarea name="contentInp" id="contentInp" rows="10" cols="100" placeholder="input Text" style="width: 100%;"></textarea>
                    </td>
                </tr>
                <br>
                <tr id="comment">
                    <th id="commentLength">댓글()</th>
                    <td style="display: table-row;">
                        <dl>
                            <div id="inpCommentBox" style="justify-content: center; display: flex;"> 
                                <textarea id="commentValue" type="text" placeholder="input Comment" escapeXml="false" style="width: 90%; resize: none;"></textarea>
                                <button type="button" onclick="submitComment(this)">submit</button>
                            </div>
                            <dd id="commentTarget"></dd>
                        </dl>
                    </td>
                </tr>
            </tbody>
            

        </table>
        <div id="btnBox">
            <button type="submit">submit</button>
            <button type="reset">reset</button>
            <button type="button" id="delete" onclick="deleteRow()">delete</button>
        </div>
    </form>

    <script type="text/javascript" src="/smarteditor2/dist/js/service/HuskyEZCreator.js" charset="UTF-8"></script>
    <script src="/js/write.js"></script>
</body>
</html>